@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

/* Запрет выделения текста */
*{
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;                        
}

body {
    font-family: 'Share Tech Mono', monospace;
    background-color: #000;
    color: #ffffff;
}

.container{
    width: 800px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Старт игры */
.screen-start{
    width: 100%;
    height: 0;
    z-index: 2;
    position: absolute;
    overflow: hidden;
    color: #000;
    background-color: oldlace;
    transition: 0.5s;
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-areas: 
    "gameInfo gameInfo"
    "playersCount timerSet"
    "buttonStart buttonStart";
    grid-template-rows: 7fr 3fr 1fr;
    grid-gap: 5px;
    
}

.screen-start__show{
    height: 100%;
    padding: 10px;
}

.screen-start div{
    border: 2px solid rgb(90, 0, 0)
}

.gameInfo{
    grid-area: gameInfo;
    padding: 10px;
}

.playersCount{
    grid-area: playersCount;
}

.timerSet{
    grid-area: timerSet;
}

.button__start{
    grid-area: buttonStart;
    width: 200px;
    height: 50px;
    border: 2px solid gray;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    margin: 0 auto;
}

.button__start:hover{
    background-color: #1497ee;
    transition: 0.3s;
}

/* Строка состояния */
.gameStatusBar{
    width: 90%;
    text-align: center;
    background-color: rgb(37, 37, 37);
    padding: 10px 0;
    border-radius: 5px;
    border: 2px solid gray;
}

/* Блок с бомбой */
.timer-output-wrapper{
    width: calc(100% - 24px);
    margin-top: 10px;
    height: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

/* Кнопка конца игры */
.button__stopGame{
    z-index: 1;
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 40px;
    border: 1px solid gray;
    border-bottom: 3px solid gray;
    padding: 2px;
    font-size: 16px;
    background-color: darkred;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
    
}

.button__stopGame:hover{
    background-color: rgb(202, 0, 0)
}

/* Вывод таймера */
.timer-output{
    width: 200px;
    background: #222;
    color: lightgray;
    margin-right: 40px;
    margin-bottom: 30px;
    padding: 16px 8px;
    font-size: 64px;
    text-align: center;
    line-height: 1;
    user-select: none;
    z-index: 1;
}

.timer-output_red{
    color: rgb(212, 8, 8);
}


.bomb-image{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    z-index: 0;
}

.players{
    border: 2px solid gray;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    
}

.players ul{
    padding: 0;
    margin: 0;
    margin-left: 10px;
    list-style: none;
}

.players ul li{
    display: inline-block;
}

.players ul li::after{
    content: "\2620";
    color: red;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions__header{
    width: 700px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    padding-top: 7px;
    margin: 10px 0;
    background-color: rgb(255, 174, 0);
    border: 2px solid gray;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.questions__answer{
    width: 500px;
    border-radius: 5px;
    padding: 7px 0;
    margin-bottom: 3px;
    background-color: rgb(202, 201, 201);
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid gray;
    cursor: pointer;
    transition: 0.3s;
}

.questions__answer:hover{
    background-color: #ee8814;
}

.screen-finish{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.text__finish{
    z-index: inherit;
    font-size: 56px;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    display: none;
}


.button__replay{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border: 2px solid gray;
    border-radius: 5px;
    transform: scale(0);
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    transition: 1s;
}

.button__replay:hover{
    background-color: #ee8814;
    transition: 0.3s;
}

.show{
    transform: scale(1);
}

/* Блок анимаций поражения */
.screen-finish__lose_show{
    z-index: 2;
    animation: loseScreen 3s;
}

.text__lose_show{
    animation: loseText 5s;
    display: block;
    color: rgb(109, 0, 0);
}

.text__lose_show::after{
    content: "YOU DIED";
}


@keyframes loseScreen{
    0%{
        background-color: rgba(0, 0, 0, 0);
    }50%{
        background-color: rgb(255, 0, 0);
    }100%{
        background-color: rgb(0, 0, 0);
    }
}

@keyframes loseText{
    0%{
        color: rgba(109, 0, 0, 0);
    }70%{
        color: rgba(109, 0, 0, 0);
    }100%{
        color: rgb(109, 0, 0);
    }
}

/* Блок анимаций победы */

.screen-finish__win_show{
    z-index: 2;
    animation: winScreen 3s;
    background-color: rgb(117, 204, 156);
}

.text__win_show{
    animation: winText 5s;
    display: block;
    color: rgb(6, 101, 124);
}

.text__win_show::after{
    content: "YOU WIN!";
}


@keyframes winScreen{
    0%{
        background-color: rgba(0, 0, 0, 0);
    }100%{
        background-color: rgb(117, 204, 156);
    }
}

@keyframes winText{
    0%{
        color: rgba(109, 0, 0, 0);
    }70%{
        color: rgba(109, 0, 0, 0);
    }100%{
        color: rgb(6, 101, 124);
    }
}